<div class=" table-grid">

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th scope="col">Tax</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td>Lucas Phan</td>
        <td>450</td>
        <td>350</td>
        <td>.77</td>
        <td>C</td>
      </tr> -->
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.tax}}</td>
        <td>{{data.subtotal}}</td>
        <td>{{data.total}}</td>
      </tr>
    </tbody>
  </table>
</div>
